In [1]:
import sys
print(sys.version)
print(sys.version_info)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

# Basics
## Comments, Print and Input

In [2]:
# use # to add comments
print("Hello Worlds")
userInput = input("Please enter something")
print(userInput)

Hello Worlds
Please enter somethingWelcome to Python World
Welcome to Python World

#### Printing multiple lines of code

use ''' to print multiline string

In [3]:
print('''
Hi I am Ajul Thomas. I am an electrical and electronics Engineering Graduate.
I am very much interested in programming and software engineering.
''')

Hi I am Ajul Thomas. I am an electrical and electronics Engineering Graduate.
I am very much interested in programming and software engineering.

#### Embedding variables using format method
format method can be used in conjunction with print method for embedding variables into strings.

In [5]:
my_name = "Ajul Thomas"
profession = "Software Engineer"
print("My name is {}, I am a {}".format(my_name, profession))

My name is Ajul Thomas, I am a Software Engineer

In [6]:
pi = 3.1415926535
print("Pi is equal to {:.3f}".format(pi))

Pi is equal to 3.142

In [7]:
firstName = "Ajul"
lastName = "Thomas"
print("My name is {1} {0}".format(lastName, firstName))

My name is Ajul Thomas

In [8]:
print(f'my name is {firstName} {lastName}')

my name is Ajul Thomas

In [10]:
print(F'''
my name is {firstName} {lastName}
''')

my name is Ajul Thomas

#### Input

In [1]:
name = input("Please enter your name : \n")
age = input("Please enter your age: \n")
print(f"Hi, I am {name}. I am {age} years old")

Hi, I am Ajul Thomas. I am 25 years old

In [2]:
print(age+1)

TypeError: can only concatenate str (not "int") to str

In [3]:
print(int(age)+1)

26

__NOTE__:
*The input function accepts inputs from the user. The input provided by the user is stored
as a variable of type String. If you want to do any mathematical calculations with any
numeric input, you need to change the data type of the input to int or float.*

### Variables, Constants and Operators

In [2]:
a=10
b=20
sum_result=a+b
difference = a-b
product = a*b
quotient_int = 5//2
quotient_dec = 5/2
print(f"sum = {sum_result} difference = {difference} product = {product} quotient_int = {quotient_int} quotient_dec = {quotient_dec} ")

sum = 30 difference = -10 product = 200 quotient_int = 2 quotient_dec = 2.5

##### Comparison Operators

In [3]:
print(10 < 20)
print(10>20)
print(10 == 30)
print(10<=20)
print(10>=20)
print(10!=20)

True
False
False
True
False
True

##### Logical Operators

In [4]:
print(True and False)
print(True or False)
print(not True)
print(not False)

False
True
False
True

##### Assignment Operators

In [6]:
x = 10
print(x)
x+=1
print(x)
x-=1
print(x)
x*=2
print(x)
x/=2
print(x)
x%=4
print(x)
y = 10
y//=3
print(y)

10
11
10
20
10.0
2.0
3

##### Identity Operators

In [8]:
x= 4;
y=5;
z=4;
print(x is z)
print(x is not z)
print(y is z)
print(y is not z)

True
False
False
True

##### Membership Operators

In [10]:
name = "ajul thomas"
print("thomas" in name)
print("z" not in name)
print("z" in name)
print("thomas" not in name)

True
True
False
False

#### Data Types

In [11]:
num = 10
fl = 5.25
c = 'a'
s = "some string"
boo = True
print(type(num))
print(type(fl))
print(type(c))
print(type(s))
print(type(boo))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

##### DateTime

In [19]:
import datetime
birthday = datetime.date(year = 1996, month = 11, day=17 )
time = datetime.time(hour=12, minute=10, second=3, microsecond=12)
print(f"date ===> {birthday}, time ===> {time}")
dtm = datetime.datetime(year=2022, month=12, day=25, hour=4, minute=45, second=5, microsecond=457)
print(f"datetime ===> {dtm}")

date ===> 1996-11-17, time ===> 12:10:03.000012
datetime ===> 2022-12-25 04:45:05.000457