# Pandas - Introduction

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

### Why Pandas ?

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

### Where is the Pandas Codebase?

The source code for Pandas is located at this github repository https://github.com/pandas-dev/pandas

## Installing Pandas Library

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## importing pandas

In [1]:
import pandas as pd

In [2]:
person = {
    "first": ['Ajul', 'Vivek', 'Allen'],
    "last": ['Thomas', 'Thomas', 'Mathews'],
    'email': ['ajt@gmail.com', 'vit@gmail.com', 'ajm@gmail.com']
}

people_df = pd.DataFrame(person)

In [4]:
people_df

   first     last          email
0   Ajul   Thomas  ajt@gmail.com
1  Vivek   Thomas  vit@gmail.com
2  Allen  Mathews  ajm@gmail.com

In [6]:
people_df['email']

0    ajt@gmail.com
1    vit@gmail.com
2    ajm@gmail.com
Name: email, dtype: object

In [8]:
type(people_df['email'])

pandas.core.series.Series

In [9]:
# dot notation is also valid, but bracket notatio is safer due to certain reasons

people_df.email

0    ajt@gmail.com
1    vit@gmail.com
2    ajm@gmail.com
Name: email, dtype: object

In [11]:
# retrieving mutiple columns from a dataframe at once
# filtering out columns

people_df[['first','email']]

   first          email
0   Ajul  ajt@gmail.com
1  Vivek  vit@gmail.com
2  Allen  ajm@gmail.com

In [12]:
# retrieve the list of column names

people_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
# retrive a specific row

people_df.iloc[0]

first             Ajul
last            Thomas
email    ajt@gmail.com
Name: 0, dtype: object

In [14]:
# retrieve a list of rows from data frame

people_df.iloc[[0,1]]

   first    last          email
0   Ajul  Thomas  ajt@gmail.com
1  Vivek  Thomas  vit@gmail.com

In [18]:
# retrive data from df with specific rows and cols

people_df.iloc[[0,2], 2]

0    ajt@gmail.com
2    ajm@gmail.com
Name: email, dtype: object

In [19]:
people_df.iloc[[0,2], [0,1]]

   first     last
0   Ajul   Thomas
2  Allen  Mathews

In [20]:
# retrieving data from df using loc

people_df.loc[0]

first             Ajul
last            Thomas
email    ajt@gmail.com
Name: 0, dtype: object

In [21]:
people_df.loc[[0,1],['first', 'last']]

   first    last
0   Ajul  Thomas
1  Vivek  Thomas

Bad pipe message: %s [b'J0\x9e$\x00\x95\x12"1\x99*\xe7\x06Z1\xea\xbb\r \xc8%\x95P\xd9\x15i\xbeKY\x01\xd0\x82h.\xc3\xeb\xa0\x0b!\xef&\xf21R\x0b\x11\xa3\x96\xeed\x9d\x00\x08\x13\x02']
Bad pipe message: %s [b'\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t1', b'.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04', b'\x03\x06', b'\x07\x08']
Bad pipe message: %s [b'\t\x08\n\x08\x0b\x08\x04']
Bad pipe message: %s [b'~$-f\xeb\x8dg\xb7\xb3\x7f\x86vk"\xcd\xbaL\x9a \xe0M:\xe5\xfd\t\xc5\x85@\xdd\xd2in\xa0\xf4R\xfa\xb2\xe7Z\xf9&\x19\xb0\xca.Gnd\xe5\xc2\xbc\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06\x01\x00+\x00\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 \x19a\xf9\xcc\x12\x8c)\xdf\xbbo\xc9\xf1\x1a\x95\x85\xe6g\x0b\xe2']
Bad pipe message: %s [b"2\xd4M\x8c\r\xd8\xae\xa4Q\x88~\r=*<s'\xff\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0"]
Bad pipe message: %s [b"\xb5\nx\xd16\x9fZ\xab\xa0s\x16\x10\x01\n\xe1\x84\x04s\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0s\xc0w\x00\xc4\x00\xc3\xc0#\xc0'\x00g\x00@\xc0r\xc0v\x00\xbe\x00\xbd\xc0\n\xc0\x14\x009\x008\x00\x88\x00\x87\xc0\t\xc0\x13\x003\x002\x00\x9a\x00\x99\x00E\x00D\xc0\x07\xc0\x11\xc0\x08\xc0\x12\x00\x16\x00\x13\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00\xc0\x00<\x00\xba\x005\x00\x84\x00/\x00\x96\x00A\x00\x05\x00\n\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00", b'#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03']
Bad pipe message: %s [b'', b"8^$\xb8^\x07\x9e8\x95)e\xbe\x1f>\x18\xd8\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0", b'\x16\x00\x13\x00\x10\x00\r']
Bad pipe message: %s [b'\xe5\x810\xe8P\x177h\x1c\x1d+\xbd\x15E\xd0u\xb0W\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b']
Bad pipe message: %s [b'\x08\xdc\xf7\xf2\xab\xcb8\xfe\xab\xfd}\xb4>\xdb\xa0\xebF\x0f\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001']
Bad pipe message: %s [b'%\x00&\x03Oh\x9e+N\x87\x99\xf8\xed\xbaD\x1e\x9a\x03\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0', b'\x0c\xc0\x02\x00\x05\x00']
Bad pipe message: %s [b'\x08\x06\x04\x01\x05\x01\x06', b'']
Bad pipe message: %s [b'\xff\x02\x01']
Bad pipe message: %s [b'\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00']
Bad pipe message: %s [b'\x08\x08\x08\t\x08\n\x08', b'\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06']
Bad pipe message: %s [b'\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 \x1cK\xa2x\xf3\x80w\xc5}\xf3\xb8\xba\x80\xd3\x19\x0cw&\xdf\x8ce\x8a']
Bad pipe message: %s [b'', b'\x03\x03']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x05\x02\x06']