## Sorting pandas DataFrame

In [7]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Tim'],
        'age': [25, 32, 18, 25],
        'height': [170, 175, 180, 168]}

df = pd.DataFrame(data)

In [3]:
df.sort_values('age')

      name  age
2  Charlie   18
0    Alice   25
1      Bob   32

In [4]:
df.sort_values('age', ascending=False)

      name  age
1      Bob   32
0    Alice   25
2  Charlie   18

In [6]:
df.sort_values(['age', 'height'])

      name  age  height
2  Charlie   18     180
0    Alice   25     170
1      Bob   32     175

In [9]:
df.sort_values(['age', 'height'], ascending=[True, False])

      name  age  height
2  Charlie   18     180
0    Alice   25     170
3      Tim   25     168
1      Bob   32     175

Bad pipe message: %s [b'\x8b\x9eX\x9b1\xc2h\x7f\xd8\xbd@q\xec{\xb5q6, \x11\xc2\xc9qa\x86E\x80.\x8d']
Bad pipe message: %s [b'\x03\xfe\xfb\xdf\xd68\xea\xb3\xc2ZQ<u\x1d\xd4\x80K\x9am\x13\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08', b'\x0b\x08\x04\x08\x05\x08\x06\x04\x01']
Bad pipe message: %s [b'\x12=\xa8H\n\x8bv\xc9yh\x8d\x1a\xa4\\\xef\xa0\xe0\x87 A?Z\xd6i\r\x16\x83\xe3j\xf6I\x8e\x17\x84Y\x94\xcb\xe6V\xf6>\x83\xd6\x1f\xb3\x01\xc9\xdd\xa2n@\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06\x01\x00+\x00\x03\x02\x03\x04\x00-']
Bad pipe message: %s [b"3Fm\xb0W/\xdb\xc1\x12#\x82\xf5~\xef{\x13\xdb9\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005"]
Bad pipe message: %s [b'\xb5\x81\xfc\x9a\xbd\x1a\x16F{\xb0\xe5\x17\x0e\xbbr\xc7\xfa\xbe\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00', b'\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00']
Bad pipe message: %s [b'\x1b\xf0\xf8\xa7\xf6<\xf9\xa8Q/k\x8b\x12\xa0\x8bw\x92t\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0', b'/\x00\x9a']
Bad pipe message: %s [b"?\x96s\xc3K\xbf\xab\x10\xd2\xb4\xb9\xd6\x1c\xb9\xb4_\xfc]\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x9a\x00\x99\x00\x98\x00"]
Bad pipe message: %s [b'0\x83|b\xde\xd5\x9f\xca\x82\xf8\x94\xb8(\xc7\x8a\x103}\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00']
Bad pipe message: %s [b"5\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00"]
Bad pipe message: %s [b'4\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00;\x00\x02']